.expense-container {
  width: 700px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.expense-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.expense-form input,
.expense-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.expense-form button {
  width: 100%;
  padding: 10px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expense-form button:hover {
  opacity: 0.9;
}

.expense-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  background-color: #a18989;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.edit-btn {
  background-color: rgb(97, 146, 236);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(165, 20, 9);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.premium-btn {
  background-color: rgb(238, 241, 14);
  color: black;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin-top: 3px;
}

.toggle-btn {
  background-color: purple;
  color: whitesmoke;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 3px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.csv-btn {
  background-color: rgb(87, 204, 233);
  color: whitesmoke;
  border-radius: 8px;
  margin-left: 10px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
}