/* Center the login card */
.auth-container-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card-login {
    width: 340px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

/* Heading */
.card-login h2 {
    margin-bottom: 20px;
    font-weight: 500;
}

/* Inputs */
.card-login input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    background-color: #000;
    color: white;
    outline: none;
}

/* Placeholder color */
.card-login input::placeholder {
    color: white;
}

/* Login Button */
.card-login button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #0a8cff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Disabled Button */
.card-login button:disabled {
    background-color: #a7d2ff;
    cursor: not-allowed;
}

/* Error Message */
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Links */
.linkp {
    margin-top: 12px;
    font-size: 14px;
    color: rgb(56, 8, 228);
    cursor: pointer;
    text-decoration: underline;
}

.link {
    margin-top: 12px;
    font-size: 14px;
    color: #0a8cff;
    cursor: pointer;
}

/* Hover effect */
.link:hover {
    text-decoration: underline;
}